@font-face {
    font-family: 'norseBold';
    src: url('Norse-Bold.otf');
}

.content {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
}

.logo {
    font-family: 'norseBold';
    font-size: 8vh;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px 0 10px 0;
}

.mask {
    height: 10vh;
}

.credit {
    color: white;
    position: relative;
    top: 83%;
    text-align: center;
    font-size: 1.5vh;
}

.credit a {
    color: white;
    text-decoration: underline;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background-color: rgba(232, 235, 242, 0.8);
}

.header {
    font-size: 25px;
    font-weight: 700;
    padding: 0 5vw 5vw 3vw;
}

.header1, .header2, .header3 {
    margin: 0;
}

.header3 {
    margin-top: 30px;
}

.formAll {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw 5vh 3vw;
    gap: 3vh;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
}

.input {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 14px;
}

.button {
    padding: 5vh 0 0 3vw;
}

button {
    border: 0;
    border-radius: 10px;
    padding: 12px 50px;
    background-color: #596D48;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.footer {
    padding: 1vh 0 0 3vw;
    font-size: 22px;
    font-weight: 500;
}

.footer a {
    color: #596D48;
    font-weight: 600;
}

input {
    border: solid 1px #E5E7EB;
    border-radius: 3px;
}

input:focus {
    outline: none;
    border: solid 2px blue;
    box-shadow: 2px 2px rgba(232, 235, 242, 0.8);
}

.checkPass {
    color: red;
    font-size: 12px;
}

.alertConfirmPwd {
    outline: none;
    border: solid 2px red;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .left {
        width: 100%;
        height: 250px;
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .logo {
        position: static;
        padding: 10px 50px 10px 50px;
        border-radius: 5px;
    }
    
    .credit {
        position: static;
    }

    .right {
        width: 100%;
    }

    .header {
        padding: 30px 15px;
        text-align: center;
        font-size: 20px;
    }
    
    .header1, .header2, .header3 {
        margin: 0;
        padding: 0;
    }

    .header2 {
        margin-top: 10px;
    }

    .header3 {
        margin-top: 20px;
    }

    .formAll {
        text-align: center;
        padding: 30px 0 30px 0;
        background-color: none;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 20px;
    }
    
    .form {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 70%;
    }

    .input {
        width: 100%;
    }
    .button {
        padding: 30px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer {
        text-align: center;
        padding: 10px 0 30px 0;
        font-size: 16px;
    }
}