@font-face {
    font-family: 'norseBold';
    src: url('Norse-Bold.otf')
}

.content {
    display: flex;
    width: 97vw;
    height: 97vh;
}

.left {
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
}

.logo {
    font-family: 'norseBold';
    font-size: 7vh;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25vh;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px 0 10px 0;
}

.mask {
    height: 10vh;
}

.credit {
    color: white;
    position: relative;
    top: 82vh;
    text-align: center;
    font-size: 1.5vh;
}
/* .divlogo {
    position: absolute;
    top: 150px;
    padding: 15px 122px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.divlogo > div {
    font-size: 80px;
    font-family: 'norseBold';
}

.credit {
    position: absolute;
    top: 875px;
    left: 125px;
    text-align: center;
    color: white;
    font-size: 14px;
}

.right {
    background-color: rgba(232, 235, 242, 0.8);
}

.header {
    padding: 100px 100px 30px 30px;
}

.header1 {
    font-size: 25px;
    font-weight: 600;
}

.header2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
}

form {
    padding: 30px;
}

.caption {
    font-size: 25px;
    font-weight: 600;
}

.inputForm {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    background-color: white;
    flex-direction: column;
}

.firstColumn, .secondColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
    font-weight: 500;
}

button {
    margin: 30px 0 0 30px;
    border: 0;
    border-radius: 10px;
    padding: 12px 50px;
    background-color: #596D48;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.footer {
    padding: 30px 0 30px 30px;
    font-size: 22px;
    font-weight: 500;
}

.input {
    display: flex;
    flex-direction: column;
    opacity: 80%;
}
input {
    border: solid 1px #E5E7EB;
    border-radius: 3px;
}

input:focus {
    outline: none;
    border: solid 2px blue;
}
.pwd:invalid {
    border-color: red;
}

 */